#database downloaded from AERONET site
01-rawdata

#example of input file to be used to download aeronet data
input.csv
test/
2024*/
aeronet_data_HARP2*/
aeroonet_list/
__pycache__/funcLibrary.cpython-38.pyc
2024*/
